<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76547161702-814pacf6j66ka3tb33lqpnmaomfphlh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76547161702-814pacf6j66ka3tb33lqpnmaomfphlh8</string>
	<key>API_KEY</key>
	<string>AIzaSyBwNVgOmttSLnXAlw5k8zM4Z_p_fxG_RNA</string>
	<key>GCM_SENDER_ID</key>
	<string>76547161702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Authentication</string>
	<key>PROJECT_ID</key>
	<string>swiftui-firebase-chat-611ef</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-firebase-chat-611ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76547161702:ios:c1ce08d2a7dca7dd0ab7a7</string>
</dict>
</plist>